*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
Makefile
Makefile.in
aclocal.m4
build-stamp
cflags.out
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cppflags.out
debian/barnyard2.debhelper.log
debian/barnyard2/
debian/files
libtool
src/barnyard2
stamp-h1
