Source: barnyard2
Section: net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), 
 autotools-dev, 
 libmysqlclient15-dev,
 libprelude-dev
Standards-Version: 3.8.0
Homepage: http://www.securixlive.com/barnyard2/

Package: barnyard2
Architecture: i386
Depends: libc6, 
 snort | vyatta-snort,
 libmysqlclient15off
Description: The barnyard2 package is a fork of the original barnyard project, 
 designed specifically for Snort's new unified2 file format.  Offloads 
 output processing of your Snort alert files to a dedicated process, 
 minimising dropped packets in Snort itself.
